<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIStoryboardDesignatedEntryPointIdentifier</key>
	<string>UINavigationController-erO-3d-e3h</string>
	<key>UIStoryboardVersion</key>
	<integer>1</integer>
	<key>UIViewControllerIdentifiersToNibNames</key>
	<dict>
		<key>UINavigationController-erO-3d-e3h</key>
		<string>UINavigationController-erO-3d-e3h</string>
	</dict>
</dict>
</plist>
