<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppLovinSdkKey</key>
	<string>aAe__FSgrwlAZ_5xi1zoK7QdiROPnZaMlDLlTpPIk9SH8TCrZAdvH2W_UvOGTzcCBzxenLxUUOncx-SV94OR6w</string>
	<key>BuildMachineOSBuild</key>
	<string>17B48</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>We Heart It</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>whi_logo.png</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Images</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.image</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>weheartit</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon20x20</string>
				<string>AppIcon29x29</string>
				<string>AppIcon40x40</string>
				<string>AppIcon57x57</string>
				<string>AppIcon60x60</string>
			</array>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon20x20</string>
				<string>AppIcon29x29</string>
				<string>AppIcon40x40</string>
				<string>AppIcon57x57</string>
				<string>AppIcon60x60</string>
				<string>AppIcon50x50</string>
				<string>AppIcon72x72</string>
				<string>AppIcon76x76</string>
				<string>AppIcon83.5x83.5</string>
			</array>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.weheartit</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>weheartit</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>9.2.3</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.weheartit.WeHeartIt</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.weheartit.WeHeartIt</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.weheartit.Efron</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.weheartit.Efron</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb188121037938906</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb200368456664008</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.weheartit</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>whi</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.921493478491-19vp0ecsh0mbn70rc19fvk16l8ehvelr</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.weheartit.Efron.Enterprise</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.weheartit.Efron.Enterprise</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string></string>
			<key>CFBundleURLName</key>
			<string>com.weheartit</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.weheartit</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.weheartit.Enterprise</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.weheartit.Enterprise</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>9.2.3.201711131846</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>15B87</string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>DTPlatformVersion</key>
	<string>11.1</string>
	<key>DTSDKBuild</key>
	<string>15B87</string>
	<key>DTSDKName</key>
	<string>iphoneos11.1</string>
	<key>DTXcode</key>
	<string>0910</string>
	<key>DTXcodeBuild</key>
	<string>9B55</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>c0c06b33bf6e9b5b6e7b66bc967233880706f7d5</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
			<dict>
				<key>KitInfo</key>
				<dict>
					<key>consumerKey</key>
					<string>wL2fFlvaW9zgMYRmvLlryCJvT</string>
					<key>consumerSecret</key>
					<string>aqlVcW9JBylceIsDamsARksXc6uNbXZZCsxmGo85zg2GHli2ib</string>
				</dict>
				<key>KitName</key>
				<string>Twitter</string>
			</dict>
		</array>
	</dict>
	<key>FacebookAppID</key>
	<string>200368456664008</string>
	<key>FacebookDisplayName</key>
	<string>We Heart It</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbauth2</string>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbshareextension</string>
		<string>gplus</string>
		<string>googlechrome</string>
		<string>googlechrome-x-callback</string>
		<string>com.google.gppconsent.2.4.1</string>
		<string>com.google.gppconsent.2.4.0</string>
		<string>com.google.gppconsent.2.3.0</string>
		<string>com.google.gppconsent.2.2.0</string>
		<string>hasgplus4</string>
		<string>com.google.gppconsent</string>
		<string>easel</string>
		<string>instagram</string>
		<string>youtube</string>
		<string>itms­apps</string>
		<string>itmss</string>
		<string>itms</string>
		<string>whatsapp</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>9.0</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Access your connected devices</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Access your calendar to see events</string>
	<key>NSCameraUsageDescription</key>
	<string>Access your camera to share photos on We Heart It</string>
	<key>NSContactsUsageDescription</key>
	<string>See your contact list to send Postcards</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Access your photos to share on We Heart It</string>
	<key>UIAppFonts</key>
	<array>
		<string>Helvetica.ttc</string>
		<string>HelveticaNeue.ttc</string>
		<string>HelveticaNeueLights.ttc</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
	</array>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>Launch Screen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main_iPhone</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedDevices</key>
	<array>
		<string>iPhone10,1</string>
		<string>iPhone10,4</string>
		<string>iPhone6,1</string>
		<string>iPhone6,2</string>
		<string>iPhone7,2</string>
		<string>iPhone8,1</string>
		<string>iPhone8,4</string>
		<string>iPhone9,1</string>
		<string>iPhone9,3</string>
		<string>iPod7,1</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>branch_key</key>
	<string>key_live_kjdTbXKTeqo2bSs985fLRcfgAwgm81ze</string>
	<key>kVWOnlineAdsKeyword</key>
	<string>whisdkios</string>
</dict>
</plist>
