<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIStoryboardDesignatedEntryPointIdentifier</key>
	<string>Edit</string>
	<key>UIStoryboardVersion</key>
	<integer>1</integer>
	<key>UIViewControllerIdentifiersToExternalStoryboardReferences</key>
	<dict>
		<key>UIViewController-Vem-Ub-2O6</key>
		<dict>
			<key>UIReferencedControllerIdentifier</key>
			<string>PostcardUsers</string>
			<key>UIReferencedStoryboardName</key>
			<string>Main_iPhone</string>
		</dict>
	</dict>
	<key>UIViewControllerIdentifiersToNibNames</key>
	<dict>
		<key>Articles</key>
		<string>Articles</string>
		<key>Edit</key>
		<string>Edit</string>
		<key>EntryArticle</key>
		<string>EntryArticle</string>
		<key>PostEntry</key>
		<string>PostEntry</string>
		<key>UIViewController-Vem-Ub-2O6</key>
		<string>UIViewController-Vem-Ub-2O6</string>
	</dict>
</dict>
</plist>
